body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #331F19;
}
.container {
    text-align: center;
    background-color: #CBBBA7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #8B7D70;
    margin: 40px 0;
}
.full-content {
    align-items: flex-start;
    padding: 20px 0 40px 0;
}
h1 {
    color: #331F19;
}
h3{
    color: #331F19;
}
p {
    color: #331F19;
    font-size: 1.1em;
}
button {
    background-color: #60041A;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px;
}
button:hover {
    background-color: #A34743;
}
.img-style {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Área principal do card */
.card {
    background-color: #CBBBA7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #f8f9fa;
}

/* Título */
h2 {
    margin-bottom: 15px;
    color: #F4F0EA;
}

/* Barra de progresso */
.progress {
    height: 25px;
    margin-top: 15px;
    background-color: #8B7D70; /* cor de fundo */
    border-radius: 8px;
    overflow: hidden;
}

/* Parte que "carrega" */
.progress-bar {
    background-color: #60041A; /* cor do preenchimento */
}

/* Resultado do "número pensado" */
#result {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: #331F19;
}
